.wrapper{
    border: 1px solid gray;
    float: left;
    margin: 0 15%;
    padding: 20px;
    width: 70%;
    
}

.algarismos{
    float:left;
    width: 70%;
}

.operadores{
    float:left;
    width: 30%;
}

.resultados{
    float:left;
    width: 70%; 
}
.algarismos button,
.operadores button{
    width: 100px;
    height: 100px;
    font-size: 20px;
}