@font-face { /* define uma nova fonte */
    font-family: pacifico;
    src: url('../fontes/Pacifico-Regular.ttf');
    
}
body{
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

.wrapper{
    background: yellow;
    width: 100%;
 
}

header{
    width: 100%;
    height: 44px;
    background: #ffffff;
    float: left;
    font-family: 'Pacifico';
    font-weight: bold;
}

header .col-3 a{
    text-transform: uppercase;
    text-decoration: none;
    color: #727a82;
    border: 2px #dee1e3 solid;
    border-radius: 4px;
    width: 100px;

    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    padding: 5px;


}
header .col-3 a:hover{
    background: #dee1e3;
    border-color: #727a82;
}
.hero{
    width: 100%;
    height:477px;
    background: purple url('../images//banner.jpg') top center no-repeat ;
    background-size: cover;
    float: left;



    /*
          background-image: url('../images//banner.jpg')
          background-color: purple;
          background-position: top center;
          background-repeat:no-repeat;
    */


}

.content{
    width: 50%;
    min-height: 150px;
    margin-left:25%;
    text-align: center;
    margin-top: 100px;
    float: left;
}

.content h1{
    color: #25a2c3;
    font-size: 22px;
    padding: 20px 0;

}

.content p{
    font-size: 20px;
    line-height: 30px;
}
.content button{
    background: #f6755e;
    border: none;
    color: #ffffff;
    width: 150px;
    height: 40px;
    border-radius: 4px;
}

.articles{
    width: 100%;
    height:500px;
    background: white;
    float: left;
}

.articles .center-articles{
    width: 70%;
    height: 500px;
    margin-left: 15%;
}

.center-articles .col1,
.center-articles .col2,
.center-articles .col3{
    width: 33.33%;
    float: left;
}

.articles .col1 h2,
.articles .col3 h2{
    color: #25a2c3;
    font-weight: bold;
    text-align: right;
    margin-bottom: 30px;
}
.articles .col3 h2{
    text-align: left;
}

.center-articles .col1 div,
.center-articles .col3 div{
    width: 70%;
    float:right;
    margin-bottom: 30px;
}
.center-articles .col3 div{
    float: left;
}
.center-articles .col1 p,
.center-articles .col3 p{
    text-align: justify;
    color: #767d85;
}

.center-articles .col2 .moldura{
    width: 200px;
    height: 200px;
    background: grey;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.center-articles .col2 .moldura img{
    width: 100%;
}
.highlights{

    width: 100%;
    height: 200px;
    background: #f6755e;
    float: left;
    color: #ffffff;
    text-align: center;
}
.highlights h2 {
    font-size: 24px;
    font-weight: bold;
}

.highlights p:nth-child(2){
    font-style: italic;
}
.highlights span{
    font-weight: bold;
}
.latest-news{
    width: 100%;
    height: 500px;
    float: left;
    text-align: center;
}

.center-latest-news{
    width: 70%;
    margin: 0 auto;
    float: left;
    background: white;
    margin-left: 15%;
    

}
.center-latest-news .col4,
.center-latest-news .col5,
.center-latest-news .col6{
    width:calc(33.33% - 22px) ;
    float: left;
    margin: 0 10px;
    border: 1px solid #000;
    
}

.center-latest-news div img{
    width: 100%;
}
.center-latest-news div h3{
    padding-left: 20px;
    color: #25a2c3;
    font-weight: bold;
}
.center-latest-news div p{
    padding: 20px;
    color: #767d85;
}
footer{
    width: 100%;
    height:150px;
    background: blue;
    float: left;
}

.col-1{
    width: 20%;
    height: 44px;
    float: left;
}

.col-2{
    width: 60%;
    height: 44px;
    float: left;
    text-align: center;
    color: #f6755e;

}

.col-3{
    width: 20%;
    height: 44px;
    float: left;

}

.icon-menu-principal{
    font-size: 30px;
    color: #767d85;
    padding: 10px;
}
