 @font-face {
    font-family: "glyphicons";
    src: url("../fonts/glyphicons-halflings-regular.woff") format("woff");
  }

body{
    background-color: white;
    font-family: "Arial";
}

header{
    width: 100%;
    height: 80px;
}
.logo{
    width: 70px;
    height: 80px;
    margin: 10px;
    display: inline-block;
    margin: 20px 0 0 0;
    color: #d36715;
  

}

.menu{
    width: 80%;
    height: 80px;
    margin-left: 10%;
    margin-top: 20px;
    display:flex;
}

.menu .espaco{
    flex: 1;
}

.conteudo{
    display: inline-flex;
    margin: 20px 0 0 0;
    gap: 20px;
}

.conteudo li{
    display: inline-flex;
}

.wrapper{

    width: 100%;
    display: inline-block;
    
}
.wrapper .hero{
    width: 100%;
    height: 400px;
    display: inline-block;
    color: white;
    background: url('../images/light_bulb.jpg') no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-left: 15%;
}
.hero h1{
    font-size: 46px;
    
}

.wrapper p{

    font-size: 20px;
    
}

img{
    width: 100%;
}

.hero button{
    color: #fff;
    background-color: orange;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    
}

.wrapper .caixa2,
.wrapper .caixa5{
    width: 100%;
    height: 160px;
    display: inline-block;
    text-align: center;
    
    
}

.wrapper h2{
    color: #d36715;
    font-size: 36px;
    margin-top: 40px;
    text-align: center;
}

.wrapper .caixa-images{
    background-color:blue;
    border: 3px solid #000;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #000;

}

.wrapper .caixa-images .imagem1,
.wrapper .caixa-images .imagem2,
.wrapper .caixa-images .imagem3{
    background-size: cover;
    background-position: center center;
    width: 33.33%;
    height: 194px;
    color: white;
    font-size: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wrapper .caixa-images .imagem1{
    background-image: url('../images/mung_beans.jpg');
}

.wrapper .caixa-images .imagem2{
    background-image: url('../images/coffee_beans_1.jpg');
}

.wrapper .caixa-images .imagem3{
    background-image: url('../images/grapes.jpg');
}


.wrapper .caixa{
    padding: 20px 0;
    text-align: center;
}
.colunas{
    display: flex;
    padding-left: 15%;
    padding-top: 50px;
    gap: 40px;
    
}

.colunas .valor{
    margin-top: 20px;
}

.texto{
    text-decoration: line-through;
}

.colunas .coluna1,
.colunas .coluna2,
.colunas .coluna3,
.colunas .coluna4{
    width: 250px;
    padding: 10px;
    text-align: left;
    border: 1px solid #000;
}

.botao {
    display: flex;

    
}

.botao button {
    white-space: nowrap;
    color: #fff;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 0 3px 3px 0;;
}

.botao input{
    width: 100%;
    border: 1px solid black;
    border-right: 0;
}

.coluna2 .texto,
.coluna2 .valor{
    display: inline-block;
}

.texto{
    color: gray;
}
.valor{
    color: #d36715;
}

.img-circle {
    margin-top: 40px;
    height: 300px;
    width: 400px;
    border-radius: 50%;
}

.wrapper .caixa6{
    background-color:yellow ;
    width: 100%;
    height: 400px;
    display: inline-block;

}
